.App {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.text {
  color: white;
  font-size: 30px;
}
