@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .text-typewritter {
    @apply text-blue-500 text-6xl font-extrabold text-center;
  }
  .Typewriter {
    @apply justify-center items-center flex;
  }
  .active-nav {
    @apply text-blue-500;
  }
}
