@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .padding {
    @apply px-4 md:px-10 lg:px-20;
  }
  .active-nav {
    @apply text-light-blue;
  }
  .animation-link {
    position: relative;
    padding-bottom: 5px;
  }

  .animation-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 5px;
    left: 50%;
    position: absolute;
    background-color: #7579e7;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .animation-link:hover:after {
    width: 100%;
    left: 0;
  }

  .link-project {
    text-decoration: none;
    background-image: linear-gradient(#7579e7, #7579e7);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 40% 3px;
    transition: background-size 500ms ease-in-out;
  }

  .link-project:hover {
    background-size: 100% 3px;
  }
}
